*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
.idea/compiler.xml
.idea/
misc.xml
gradle.xml
runConfigurations.xml
app/src/main/assets/client-beauty
