.anchor{
    border: solid 4px #eee;
    box-sizing:border-box;
    width: 100%;
    padding:20px;
    background-color:#ddd;
    display: inline-block;
    line-height:60px;
    text-align: center;
    color:gray;
    text-decoration:none;
}
